.wrapper {
  height: 10rem;
}

.my-table:nth-child(even) {
  background-color: rgb(250, 161, 101);
}

/* .theader th {
  padding-right: 1rem;
} */

/* .table-main {
  background-color: bisque;
}

.table-main:nth-child(even) {
  background-color: aquamarine;
} */
