body {
  background-color: rgb(39, 39, 39);
  margin: 0 auto;
}

.header {
  background-color: rgb(71, 37, 192);
  color: white;
  font-size: 2rem;
  height: 3rem;
  padding: 1.5rem 0;
  text-align: center;
}

.wrapper {
  /* background-color: aqua; */
  height: 35rem;
  overflow-y: scroll;
}

.my-table {
  background-color: white;
  margin: 10rem auto;
  width: 90%;
}

tr:nth-child(odd):hover {
  background-color: rgb(143, 143, 143);
}

thead > th {
  text-align: left;
}


